In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.1.2-cp38-cp38-manylinux1_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 3.2 MB/s eta 0:00:01    |██████                          | 1.9 MB 3.4 MB/s eta 0:00:03
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 12.4 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.2 pytz-2020.1

In [2]:
import pandas as pd
import numpy as np

In [4]:
a = pd.Series([1,2,np.nan])
a

0    1.0
1    2.0
2    NaN
dtype: float64

In [5]:
a[0]

1.0

In [7]:
a.sum()

3.0

In [8]:
df = pd.DataFrame({'A': [1,2], 'B':[3,4]})

In [9]:
df

   A  B
0  1  3
1  2  4

In [10]:
df.dtypes

A    int64
B    int64
dtype: object

In [13]:
df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0 -0.494555 -1.219389 -0.409373 -0.045624
1 -0.756018 -0.707191 -0.011361 -1.455769
2 -1.262133  0.151552 -1.809876 -1.360115
3  1.625274  0.252629 -0.789263  0.162916
4  0.748467  0.532051  0.405959  2.528812
5 -1.221980 -0.049539  1.808433 -0.272791

In [16]:
df = pd.DataFrame(np.random.randn(6,4), index=pd.date_range('20200901', periods=6))
df

                   0         1         2         3
2020-09-01  0.068434  0.047100  1.585224 -0.764665
2020-09-02 -0.794756  0.301953 -0.181633  0.605390
2020-09-03 -0.010456  0.560489 -0.953031 -0.551028
2020-09-04 -0.885544 -1.180087  0.046150  2.212743
2020-09-05 -0.579940  0.023109  0.242127  0.392939
2020-09-06  0.872295 -0.062825  0.172129 -0.778010

In [17]:
df = pd.DataFrame(np.random.randn(6,4), index=pd.date_range('20200901', periods=6), columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2020-09-01  0.923118 -1.430422 -1.344610  0.733374
2020-09-02  0.747404  0.964949 -0.067901 -1.309043
2020-09-03 -0.193559 -0.710492  0.627723 -1.135217
2020-09-04  0.356811 -0.488409 -0.561767 -0.260256
2020-09-05  0.321252  0.155985 -1.823517  0.003967
2020-09-06 -0.597426 -0.338717  0.326821 -0.404412

In [19]:
s = df.iloc[0]

In [20]:
s

A    0.923118
B   -1.430422
C   -1.344610
D    0.733374
Name: 2020-09-01 00:00:00, dtype: float64

In [21]:
df.append(s)
df

                   A         B         C         D
2020-09-01  0.923118 -1.430422 -1.344610  0.733374
2020-09-02  0.747404  0.964949 -0.067901 -1.309043
2020-09-03 -0.193559 -0.710492  0.627723 -1.135217
2020-09-04  0.356811 -0.488409 -0.561767 -0.260256
2020-09-05  0.321252  0.155985 -1.823517  0.003967
2020-09-06 -0.597426 -0.338717  0.326821 -0.404412

In [22]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
     |████████████████████████████████| 107 kB 1.4 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/site-packages (from pandas_datareader) (1.1.2)
Collecting lxml
  Downloading lxml-4.5.2-cp38-cp38-manylinux1_x86_64.whl (5.4 MB)
     |████████████████████████████████| 5.4 MB 1.6 MB/s eta 0:00:01     |████████████████                | 2.7 MB 1.6 MB/s eta 0:00:02
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.8/site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (1.25.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Installing collected packages: lxml, pandas-datareader
Successfully installed lxml-4.5.2 pandas-datareader-0.9.0

In [24]:
import pandas_datareader

In [29]:
df = pandas_datareader.data.DataReader('AAPL', 'yahoo', '2014-01-01')

In [30]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-12-31,20.045713,19.785715,19.791786,20.036428,223084400.0,17.906834
2014-01-02,19.893929,19.715000,19.845715,19.754642,234684800.0,17.655001
2014-01-03,19.775000,19.301071,19.745001,19.320715,392467600.0,17.267195
2014-01-06,19.528572,19.057142,19.194643,19.426071,412610800.0,17.361351
2014-01-07,19.498571,19.211428,19.440001,19.287144,317209200.0,17.237186
...,...,...,...,...,...,...
2020-09-22,112.860001,109.160004,112.680000,111.809998,183055400.0,111.809998
2020-09-23,112.110001,106.769997,111.620003,107.120003,150718700.0,107.120003
2020-09-24,110.250000,105.000000,105.169998,108.220001,167743300.0,108.220001
2020-09-25,112.440002,107.669998,108.430000,112.279999,149981400.0,112.279999
2020-09-28,115.320000,112.779999,115.010002,114.959999,137242800.0,114.959999